<!Doctype html>
<html>

<head>
    <title>NoveLore | {{Title}}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
    {{#if slug}}
    <script src="js/page/{{slug}}.js"></script>
    {{/if}}
    {{#each PageScripts}}
    <script src="{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    {{#each PageCSS}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>

<body>
    <div class='row container'>
        <header class="col col-md-10 col-md-offset-1 text-center">
            <h1>{{Title}}</h1>
        </header>
        <main class="col col-md-10 col-md-offset-1">
            {{{body}}}
        </main>
        <footer class="col col-md-10 col-md-offset-1">
            {{> Footer}}
        </footer>
    </div>
</body>

</html>