<!Doctype html>
<html>

<head>
    <title>{{Title}}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
    {{#if slug}}
    <script src="js/page/{{slug}}.js"></script>
    {{/if}}
    {{#each PageScripts}}
    <script src="{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    {{#each PageCSS}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>

<body>
    <header>
        <h1>{{Title}}</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{> Footer}}
    </footer>
</body>

</html>